# iOSPublish.example.adhoc.config

# 工程目录，不能有引号
PROJECT_DIR=~/Documents/Gitlab/Example

# plist文件路径
APP_PLIST_PATH=${PROJECT_DIR}/Example/System/Info.plist

# ipa包名
APP_NAME="Example"

# workspace name
WORKSPACE_NAME="Example"

# scheme name
SCHEME_NAME="Example"

# 编译的方式,Release,Debug,Adhoc
CONFIGURATION="Adhoc"

# 是否clean
WILL_CLEAN=1

# 是否archive
WILL_ARCHIVE=1

# 是否export ipa
WILL_EXPORT_IPA=1

# profile name
PROFILE_NAME="XC Ad Hoc: com.example.Example"

# 是否fir.im发布
WILL_FIR_IM=0

# fir.im token
FIR_TOKEN=""
