#默认配置文件 iOSPublish.default.config

# 工程目录，不能有引号
PROJECT_DIR=

# ipa存放目录，不能有引号
APP_DIR=~/iOSPublish

# plist文件路径
APP_PLIST_PATH=""

# ipa包名
APP_NAME=""

# workspace name
WORKSPACE_NAME=""

# scheme name
SCHEME_NAME=""

# 编译的方式,Release,Debug,Adhoc
CONFIGURATION="Adhoc"

# SDK版本
SDK_VERSION="iphoneos9.2"

# 是否clean
WILL_CLEAN=1

# 是否archive
WILL_ARCHIVE=1

# archive destination
ARCHIVE_DESTINATION="generic/platform=iOS"

# 是否export ipa
WILL_EXPORT_IPA=1

# profile name
PROFILE_NAME=""

# 是否fir.im发布
WILL_FIR_IM=1

# fir.im token
FIR_TOKEN=""

# fir更新日志
FIR_UPDATE_LOG="update"

# 是否移动ipa和xcarchive文件到指定文件夹
WILL_SAVE=1

# 是否制作百度统计文件,WILL_SAVE必须大于0
WILL_BAIDU_SYMBOL=0
